body {
	background-color: none; 
	vertical-align: center;
	text-align: center;
	border: 10px solid #000000;
	font-family: "Trebuchet MS";
	background: url(./backgroundimage.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover; 
  	-o-background-size: cover; 
  	background-size: cover;
}

h2 {
	font-size: 18px;
	font-family: "Comic Sans MS";

}

h3 {
	font-size: 18px;
	font-family: "Courier New";
}

h4 {
	font-size: 18px;
}

.top{
	overflow: hidden;
	margin-right: 40px;
	margin-left: 40px;
}

.bottom{
	overflow: hidden;
	clear: both;
	margin-right: 40px;
	margin-left: 40px;
}

.left {
	font-family: "Comic Sans MS";
	float: left;
	width: 25%;
	margin-left: 40px;
	margin-top: 40px;
	border: 5px solid black;
	display: inline-block;
	clear: left;
}

.center {
	font-family: "Courier New";
	width: 35%;
	margin: auto;
	margin-top: 40px;
	display: inline-block;
	border: 5px solid black;
}

.right {
	float: right;	
	width: 25%;	
	margin-right: 40px;
	margin-top: 40px;
	display: inline-block;
	font-size: 18px;
	border: 5px solid black;
	clear: none;
}

.billion {
	font-weight: bolder;
	color: red;
}

img {

	height: 180px;
	width: 200px;

}