body{
	text-align: left;
	font-family: "Copperplate";
	font-weight: bold;
	background: url(./BackgroundImage.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover; 
  	-o-background-size: cover; 
  	background-size: cover; 
}

h1 {
	font-size: 48px;
	color: black;
	text-align: left;
	margin-left: 40px;
}

a:link {
	color: black;
    text-decoration: none;
}

a:visited {
	color: #A9A9A9;
}

.linktext {
	font-size: 36px;
}

img {
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	left: 400px;
	bottom: 100px;
	border: 3px solid black;
}


